:root
{
    --tColor: #cb35ff;
    --bBackground: #610064;
    --background: #120018;
    --bOutline: #74006e;
    --iRadius: 10px;
    --scrollbarThumb: rgb(136, 0, 148);
    --scrollbarTrack: #28004d;
}